body {
    font-family: 'Maven Pro';
    font-size: 17px;
    letter-spacing: 0.7px;
    margin: 0;
    padding: 0;
    background-color: #f2f9fd; /* Light blue background */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-family: 'Acme';
    font-size: 50px;
    margin: 0;
}

header {
    background: #232130; /* Dark blue */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container a {
    font-family: 'Itim';
    font-size: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.container a.active {
    background-color: #8EA9E2;
    color: black;
}

.container a:hover {
    background-color: #8EA9E2;
    color: black;
}

form {
    background-color: #fff;
    font-family: 'Itim';
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#camera-preview {
    width: 40%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"],
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"],
button[type="button"] {
    font-family: 'Maven Pro';
    background-color: #2980b9; /* Blue button */
    color: #fff;
    font-family: 'Itim';
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #8EA9E2; /* Darker blue on hover */
}

/* Additional styling for the select dropdown */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath d='M6 6l6-6H0z' fill='%23000000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
